{{ define "header" }} {{ partial "page-header.html" . }} {{ end }} {{ define "main" }} {{ $section
:= .Site.GetPage "section" .Section }}
<article>
  <section class="mx-auto content">
    <div class="c-rich-text">{{ 
      .Content
      | replaceRE
        `(<h[2-9] id="([^"]+?)"[\s\S]+?)(</h[2-9]+>)`
        "${1}&nbsp;<a class=\"permalink\" href=\"#${2}\">\u00a7</a>${3}"
      | safeHTML -}}</div>
  </section>
</article>
{{ end }} {{ define "aside" }} {{ partial "page-aside.html" . }} {{ end }} {{ define "footer" }} {{
partial "page-footer.html" . }} {{ end }}
