{{- $src := .Page.Resources.Get .Destination -}}
{{- if eq $src nil -}}
  {{- $src := resources.Get .Destination -}}
{{- end -}}
{{- $respSizes := slice "640" "960" "1280" "1920" -}}
{{- $dataSizes := "(min-width: 1280px) 1920px, (min-width: 960px) 1280px, (min-width: 640px) 960px, 100vw" -}}
{{/*
	Then, we create a 640-pixel-wide JPG of the image.
	This will serve as the "fallback" image for that tiny percentage
	of browsers that don't understand the HTML `picture` tag.
*/}}
{{- $filter := images.Process "resize 640x png q100" -}}
{{- $defaultImage := $src.Filter $filter -}}
{{/*
	Now we'll handle the LQIP background for the div that will contain
	the image content; the conditional at the top controls whether we're
	doing inline styling --- which is a no-no for a tight Content
	Security Policy (CSP). Here, it checks whether we're using nonces
	(and thus a tight CSP), as spec'd in the site config file.
	If so, it creates a new class, named with an md5 hash for the value
	of $src, that the div can use to provide the LQIP background.
	Otherwise, it inserts inline styling.
	**THEREFORE** . . .
	If you don't have a problem with inline styling, feel free to use only
	the second option and avoid the conditional altogether.
*/}}
{{- $imgBd5 := md5 $src -}}
<div class="flex flex-col gap-2 items-center mx-auto">
	<div class="relative max-w-full rounded overflow-hidden imgB-{{ $imgBd5 }}-LQIP backdrop-blur-sm">
			<img class="relative max-w-full h-auto animate-show"
				src="{{ $defaultImage.RelPermalink }}"
				srcset="
				{{- with $respSizes -}}
					{{- range $i, $e := . -}}
						{{- if ge $src.Width . -}}
							{{- $filter := images.Process (printf "resize %sx %s" . "webp q100") -}}
							{{- $currentImage := $src.Filter $filter -}}
							{{- if $i }}, {{ end -}}{{- $currentImage.RelPermalink }} {{ . }}w 
						{{- end -}}
					{{- end -}}
				{{- end -}}"
				sizes="{{ $dataSizes }}"
				width="{{ $src.Width }}"
				height="{{ $src.Height }}"
				alt="{{ .Text }}"
				loading="lazy"
			/>
	</div>
	<span class="text-sm text-gray-600 font-light">{{ .Text }}</span>
</div>