{{- $src := .Page.Resources.Get .Destination -}}
{{- if eq $src nil -}}
  {{- $src := resources.Get .Destination -}}
{{- end -}}
{{- $respSizes := slice "640" "960" "1280" "1920" "2160" -}}
{{- $dataSizes := "(min-width: 1920px) 2160px, (min-width: 1280px) 1920px, (min-width: 960px) 1280px, (min-width: 640px) 960px, 100vw" -}}
{{/*
	Then, we create a 640-pixel-wide JPG of the image.
	This will serve as the "fallback" image for that tiny percentage
	of browsers that don't understand the HTML `picture` tag.
*/}}
{{- $actualImg := $src.Resize "640x png q100" -}}
{{/*
	Now we'll handle the LQIP background for the div that will contain
	the image content; the conditional at the top controls whether we're
	doing inline styling --- which is a no-no for a tight Content
	Security Policy (CSP). Here, it checks whether we're using nonces
	(and thus a tight CSP), as spec'd in the site config file.
	If so, it creates a new class, named with an md5 hash for the value
	of $src, that the div can use to provide the LQIP background.
	Otherwise, it inserts inline styling.
	**THEREFORE** . . .
	If you don't have a problem with inline styling, feel free to use only
	the second option and avoid the conditional altogether.
*/}}
{{- $imgBd5 := md5 $src -}}
<div class="relative max-w-full mx-auto rounded overflow-hidden imgB-{{ $imgBd5 }}-LQIP flex flex-col gap-2 items-center">
{{/*
	Now we'll build the `picture` which modern browsers use to decide
	which image, and which format thereof, to show. Remember to put
	`webp` first, since the browser will use the first format it
	**can** use, and WebP files usually are smaller. After WebP,
	the fallback is the universally safe JPG format.
*/}}
		<img class="relative w-full h-auto animate-show"
			src="{{ $actualImg.RelPermalink }}"
			srcset="
			{{- with $respSizes -}}
				{{- range $i, $e := . -}}
					{{- if ge $src.Width . -}}
						{{- if $i }}, {{ end -}}{{- ($src.Resize (printf "%sx %s" . "png q100") ).RelPermalink }} {{ . }}w
					{{- end -}}
				{{- end -}}
			{{- end -}}"
			sizes="{{ $dataSizes }}"
			width="{{ $src.Width }}"
			height="{{ $src.Height }}"
			alt="{{ .Text }}"
			loading="lazy"
		/>
		<span class="text-sm text-gray-600 font-light">{{ .Text }}</span>
</div>