<div class="pb-4">
	<h1 class="flex justify-end gap-1 items-center">
		{{- $image := resources.Get .Site.Params.Avatar -}}
		{{- $resizedAvatar := $image.Resize "128x webp q100" -}}
		<a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}" class="heading font-cursive icon">
      <img class="h-12 m-0" src="{{ $resizedAvatar.RelPermalink }}" alt="Fredrare's Avatar" title="Fredrare's Avatar" />
    </a>
    <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}" class="heading font-cursive icon">
      {{ .Site.Title }}
    </a>
  </h1>
</div>
{{ partial "site-navigation.html" . }}
